<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布商品</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">餐厅页面</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/res/release">发布商品</a></li>
                    <li><a href="/res/orderlist">历史订单列表</a></li>
                    <li><a href="/res/info">查看餐厅信息</a></li>
                    <li><a href="/res/modify">修改餐厅信息</a></li>
                    <li></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/res/logout">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="productname" class="col-sm-2 control-label">商品名：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="productname" placeholder="商品名">
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">商品类型：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="type" placeholder="商品类型">
            </div>
        </div>
        <div class="form-group">
            <label for="cost" class="col-sm-2 control-label">价格：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="cost" placeholder="价格">
            </div>
        </div>
        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">数量：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="number" placeholder="数量">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="button" class="btn btn-default" id="add">添加</button>
            </div>
        </div>
    </form>

    <button class="btn btn-default" id="refresh">刷新商品列表</button>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>商品名</th>
            <th>种类</th>
            <th>价格</th>
            <th>数量</th>
        </tr>
        </thead>
        <tbody class="table-striped" id="prolist">
        </tbody>
    </table>

</div>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#add").click(function () {
            var product = {
                productname:$("input#productname").val(),
                type:$("input#type").val(),
                cost:$("input#cost").val(),
                number:$("input#number").val()
            }
            $.ajax({
                type:"post",
                url:"/res/add",
                async:false,
                contentType:"application/json",
                data:JSON.stringify(product),
                success:function (result) {
                    if (result === "商品添加成功"){
                        $("input#productname").val("");
                        $("input#type").val("");
                        $("input#cost").val("");
                        $("input#number").val("");
                    }
                    alert(result);
                },
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("商家添加商品出错");
                }
            })
            $("#refresh").trigger("click");
        });

        $("button#refresh").click(function () {
            $.ajax({
                type:"get",
                url:"/res/getList",
                async:true,
                data:{},
                dataType:"json",
                success:function (result) {
                    var str = "";
                    $.each(result,function (index,item) {
                        str += "<tr><td class='productname'>"+item.productname+"</td>" +
                            "<td class='type'>"+item.type+"</td>" +
                            "<td class='cost'>"+item.cost+"</td>" +
                            "<td class='number'>"+item.number+"</td></tr>"
                    })
                    $("#prolist").html(str);
                },
                error:function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("获取商品列表出错");
                }
            })
        });

        $("button#refresh").trigger("click");
    });
</script>