<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wbe.j2ee.dao.ManagerDao">

    <insert id="insert" parameterType="Map">
        insert into manager (orderid,total,account,date) value (#{orderid},#{total},#{account},#{date})
    </insert>

    <select id="account" resultType="Float">
        select account from manager order by id desc limit 1
    </select>

    <select id="selectByOrder" parameterType="int" resultType="Float">
        select total from manager where orderid=#{orderid}
    </select>

</mapper>
    
    