<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wbe.j2ee.dao.OrderDao">

<!--添加订单信息-->
<insert id="add" parameterType="Order">
    insert into `order` (orderid,userid,restaurantid,productid,number,cost,subtotal,date) values (#{orderid},#{userid},#{restaurantid},#{productid},#{number},#{cost},#{subtotal},#{date})
</insert>

<!--获取最新的订单-->
<select id="max" resultType="Integer">
    select max(orderid) from `order`
</select>

<!--根据orderid查找订单信息-->
<select id="selectById" parameterType="int" resultType="Order">
    select * from `order` where orderid=#{orderid}
</select>

<!--确认订单送达-->
<update id="confirm" parameterType="Map">
    update `order` set status=1,date=#{date} where orderid=#{orderid}
</update>

<!--取消订单-->
<update id="cancel" parameterType="Map">
    update `order` set status=2,date=#{date} where orderid=#{orderid}
</update>

<!--获取用户已完成订单列表-->
<select id="getUserOrder1" parameterType="int" resultType="Order">
    select * from `order` where userid=#{userid} and status=1
</select>

<!--获取用户已退订订单列表-->
<select id="getUserOrder2" parameterType="int" resultType="Order">
    select * from `order` where userid=#{userid} and status=2
 </select>

<!--获取餐馆已配送订单列表-->
<select id="getResOrder1" parameterType="int" resultType="Order">
    select * from `order` where restaurantid=#{restaurantid} and status=1
</select>

<!--获取餐厅遭退订订单列表-->
<select id="getResOrder2" parameterType="int" resultType="Order">
    select * from `order` where restaurantid=#{restaurantid} and status=2
</select>
</mapper>
    
    