<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wbe.j2ee.dao.UserDao">

<!--用户登录，根据username,password,status进行查询，返回查找到的账户-->
<select id="login" parameterType="User" resultType="User">
    select * from user where username=#{username} and password=#{password} and status=1
</select>

<!--用户注册，status设置为0，存储生成的code验证码-->
<insert id="register" parameterType="User">
    insert into user (username, password,useremail,status,code) values (#{username}, #{password}, #{useremail},#{status},#{code})
</insert>

<!--根据code激活码查询账户，返回账户-->
<select id="checkCode" parameterType="String" resultType="User">
    select * from user where code = #{code}
</select>

<!--激活账户，status设置为1，清除验证码code-->
<update id="updateUserStatus1" parameterType="User">
    update user set status=1,code='' where userid=#{userid}
</update>

<!--注销账户，status设置为2-->
<update id="updateUserStatus2" parameterType="User">
    update user set status=2 where userid=#{userid}
</update>

<!--修改个人信息-->
<update id="modify" parameterType="User">
    update user set username=#{username},phone=#{phone},address1=#{address1},address2=#{address2},address3=#{address3} where userid=#{userid}
</update>

<!--避免用户重名-->
<select id="selectByName" parameterType="String" resultType="User">
    select * from user where username=#{username}
</select>

<!--避免出现已被使用过的邮箱-->
<select id="selectByEmail" parameterType="String" resultType="User">
    select * from user where useremail=#{useremail}
</select>

<!--根据userid查询user-->
<select id="selectById" parameterType="int" resultType="User">
    select * from user where userid=#{userid}
</select>

<!--对应userid的用户预付款达到manager账上-->
<update id="pay" parameterType="Map">
    update user set account=account-#{total} where userid=#{userid}
</update>

<!--取消订单，预付款退回账上-->
<update id="cancel" parameterType="Map">
    update user set account=account+#{total} where userid=#{userid}
</update>

<!--刷新用户的VIP等级-->
<update id="updateVIP" parameterType="Map">
    update user set vip=#{vip} where userid=#{userid}
</update>

<!--统计总共有多少活跃用户-->
<select id="count" resultType="int">
    select count(*) from user where status=1
</select>

</mapper>